<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.nt0m.greekapp"
    versionCode = "10"
    version     = "1.0.0" >

  <name>Greek Alphabet App</name>

  <description>
      Ntom's Greek Alphabet App
  </description>

  <author href="https://ntom.ml" email="ntom@ntom.ml">
      Ntomeniko Elezi
  </author>

</widget>